/* FONTS */
@font-face {
    font-family: PannoText;
    src: url(../fonts/pannotextbold.woff2) format("woff2"),
         url(../fonts/pannotextbold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: PannoText;
    src: url(../fonts/pannotextnormal.woff2) format("woff2"),
         url(../fonts/pannotextnormal.woff) format("woff");
    font-weight: 400;
}

/* VARIABLES */
:root {
    --black: hsl(0, 0%, 12%);
    --white: hsl(0, 0%, 100%);
    --gradient: linear-gradient(108.46deg, rgba(255, 255, 255, 0.264) 0%, rgba(255, 255, 255, 0.066) 100%);
    --gradient-dark: linear-gradient(108.46deg, rgba(31, 31, 31, 0.5) 0%, rgba(31, 31, 31, 0.15) 100%);
    --blur: blur(0.625rem);
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background-color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.75rem;
    font-family: PannoText;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 6px 25px rgba(30, 30, 30, 0.3);
}

p, li {
    font-family: PannoText;
    font-weight: 400;
}

svg {
    stroke: var(--white);
    fill: transparent;
}

img {
    max-width: 100%;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1;

    background-color: transparent;
    transition: background-color 250ms ease;
}

header.scroll {
    background-color: var(--black);
}

/* NAVIGATION */
nav ul {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;

    list-style: none;
}

nav ul li:first-of-type svg {
    fill: var(--white);
    stroke: transparent;
}

nav ul li:nth-of-type(2) svg {
    max-height: 1.5rem;
}

nav ul li:nth-of-type(2) button {
    border: none;
    background-color: transparent;
}

/* MAIN */
main section section {
    padding: 1.5rem 1.5rem;
}

main section section:first-of-type {
    padding: 0 1.5rem;
}

/* HERO */
main section:first-of-type section:first-of-type {
    margin-top: 40vh;
}

main section section:first-of-type h1 {
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.1;
}

main section:first-of-type section:first-of-type img {
    height: 80vh;
    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    
}

/* TOP PIECES */
main section:nth-of-type(2) {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

main section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(10, 8.75rem);
    gap: 0.75rem;
    overflow-x: scroll;
    list-style: none;
    scroll-snap-type: x mandatory;
}

main section:nth-of-type(2) ul li {
    scroll-snap-align: start;
}

main section:nth-of-type(2) ul li a {
    display: block;
    position: relative;
}

main section:nth-of-type(2) ul li a img {
    width: 100%;
    height: 12.8rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.3rem;
}

main section:nth-of-type(2) ul li a h3 {
    width: calc(100% - 2 * 0.375rem);
    padding: 0.375rem;
    margin: 0.375rem;
    position: absolute;
    bottom: 0.25rem;
    left: 0;
    color: var(--white);
    font-size: 0.875rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;
    background: var(--gradient-dark);
    backdrop-filter: var(--blur);
    border-radius: 0.3125rem;
}

/* CATAGORIES */
main section:first-of-type section:nth-of-type(3) {
    padding-bottom: 3em;
}

main section:first-of-type section:nth-of-type(3) h2 {
    text-align: center;
}

main section:first-of-type section:nth-of-type(3) ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.375rem;
}

main section:first-of-type section:nth-of-type(3) ul li {
    padding: 0.375rem 0.75rem;
    background: var(--gradient);
    backdrop-filter: var(--blur);
    border-radius: 0.3125rem;
}

main section:first-of-type section:nth-of-type(3) ul li a {
    color: var(--white);
    text-decoration: none;
}

/* CATEGORY */
.category {
    padding: 1.5rem 1.5rem;
}

.category h1 {
    font-size: 3rem;
    text-align: center;
}

.category ul {
    display: grid;
    grid-template-columns: repeat(100, 8.75rem);
    gap: 0.75rem;
    overflow-x: scroll;
    list-style: none;
    scroll-snap-type: x mandatory;
    height: 100%;
}

.category ul li {
    scroll-snap-align: center;
    height: 100%;
    min-width: 300px;
    width: 100%;
    background: red;
    scroll-snap-align: center;
}

/* UI-STACK */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    inset: 0;
    z-index: 100;

    visibility: hidden;

    background: var(--black);
}

.loader.display {
    visibility: visible;
}

/* Inspo css for loader from https://jsfiddle.net/L8ejy3cp/ */
.loader svg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 102;
    
}

.loader svg:first-of-type {
    stroke-width: 0.2em;
    z-index: 104;
}

.loader svg:nth-of-type(2) {
    stroke: none;
    fill: var(--white);
}

.loader span {
    position: absolute;
    right: 0;
    top:0;
    z-index: 103;
    width: 100%;
    height: 100%;
    background: var(--black);
	animation: loader 3s ease-in-out alternate;
}

@keyframes loader {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}