/* FONTS */
@font-face {
    font-family: PannoText;
    src: url(../fonts/pannotextbold.woff2) format("woff2"),
         url(../fonts/pannotextbold.woff) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: PannoText;
    src: url(../fonts/pannotextnormal.woff2) format("woff2"),
         url(../fonts/pannotextnormal.woff) format("woff");
    font-weight: 400;
}

/* VARIABLES */
:root {
    --black: hsl(0, 0%, 12%);
    --white: hsl(0, 0%, 100%);
    --gradient: linear-gradient(108.46deg, rgba(255, 255, 255, 0.264) 0%, rgba(255, 255, 255, 0.066) 100%);
    --gradient-dark: linear-gradient(108.46deg, rgba(31, 31, 31, 0.5) 0%, rgba(31, 31, 31, 0.15) 100%);
    --blur: blur(0.625rem);
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white);
    background-color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.75rem;
    font-family: PannoText;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: 0px 6px 25px rgba(30, 30, 30, 0.3);
}

p, li, a {
    font-family: PannoText;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
}

svg {
    stroke: var(--white);
    fill: transparent;
}

img {
    max-width: 100%;
}

*.hide {
    visibility: hidden;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 1;

    background-color: transparent;
    transition: background-color 250ms ease;
}

header.scroll {
    background-color: var(--black);
}

/* NAVIGATION */
nav ul {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;

    list-style: none;
}

nav ul li:first-of-type svg {
    fill: var(--white);
    stroke: transparent;
}

nav ul li:nth-of-type(2) svg {
    max-height: 1.5rem;
}

nav ul li:nth-of-type(2) button {
    border: none;
    background-color: transparent;
}

/* MAIN */
main section section {
    padding: 1.5rem 1.5rem;
}

main section section:first-of-type {
    padding: 0 1.5rem;
}

/* HERO */
main section:first-of-type section:first-of-type {
    margin-top: 40vh;
}

main section section:first-of-type h1 {
    max-width: 20rem;

    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.1;
}

@media only screen and (max-width: 370px) {
    main section section:first-of-type h1 {
        font-size: 2.5rem;
    }
}

main section:first-of-type section:first-of-type img {
    width: 100%;
    height: 80vh;

    object-fit: cover;
    position: absolute;
    inset: 0;
    z-index: -1;
    
}

/* TOP PIECES */
main section:nth-of-type(2) {
    padding: 1.5rem 0 1.5rem 1.5rem;
}

main section:nth-of-type(2) ul {
    display: grid;
    grid-template-columns: repeat(10, 8.75rem);
    gap: 0.75rem;

    overflow-x: scroll;
    list-style: none;
    scroll-snap-type: x mandatory;
}

main section:nth-of-type(2) ul li {
    scroll-snap-align: start;
}

main section:nth-of-type(2) ul li a {
    display: block;
    position: relative;
}

main section:nth-of-type(2) ul li a img {
    width: 100%;
    height: 12.8rem;
    border-radius: 0.3rem;

    object-fit: cover;
    object-position: center;
}

main section:nth-of-type(2) ul li a h3 {
    width: calc(100% - 2 * 0.375rem);
    padding: 0.375rem;
    border-radius: 0.3125rem;
    margin: 0.375rem;

    position: absolute;
    bottom: 0.25rem;
    left: 0;

    color: var(--white);
    font-size: 0.875rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.25;

    background: var(--gradient-dark);
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
}

/* CATAGORIES */
main section:first-of-type section:nth-of-type(3) {
    padding-bottom: 3em;
}

main section:first-of-type section:nth-of-type(3) h2 {
    text-align: center;
}

main section:first-of-type section:nth-of-type(3) ul {
    list-style: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.375rem;
}

main section:first-of-type section:nth-of-type(3) ul li {
    padding: 0.375rem 0.75rem;
    border-radius: 0.3125rem;

    background: var(--gradient);
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
}

main section:first-of-type section:nth-of-type(3) ul li a {
    color: var(--white);
    text-decoration: none;
}

/* CATEGORY */
.category > a,
.details > a {
    padding: 0.35rem 0.5rem;
    border-radius: 0.3rem;
    margin: 0 0 0.75rem 1.5rem;

    display: inline-flex;
    align-items: center;

    background-image: var(--gradient);

    text-decoration: none;
    color: var(--white);
}

.category > a::before,
.details > a::before {
    content: '';
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.3rem;

    display: inline-block;

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' data-reactroot=''%3E%3Cpath fill='white' d='M16.7071 3.29289C16.3166 2.90237 15.6834 2.90237 15.2929 3.29289L7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071L15.2929 20.7071C15.6834 21.0976 16.3166 21.0976 16.7071 20.7071C17.0976 20.3166 17.0976 19.6834 16.7071 19.2929L9.41421 12L16.7071 4.70711C17.0976 4.31658 17.0976 3.68342 16.7071 3.29289Z' clip-rule='evenodd' fill-rule='evenodd' undefined='1'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
}

.category h1 {
    margin: 0 1.5rem 1.5rem 1.5rem;
    font-size: 3rem;
    text-align: center;
}

.category ul {
    height: 75vh;
    margin-bottom: 1.5rem;

    display: grid;
    grid-template-columns: repeat(100, 20rem);
    gap: 1rem;

    list-style: none;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.category ul li {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    scroll-snap-align: center;

    position: relative;
}

.category ul li a {
    text-decoration: none;
}

.category ul li h2 {
    padding: 0.37rem 1rem;
    border-radius: 0.3rem;
    margin: 1rem;

    background-image: var(--gradient-dark);
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);

    position: relative;
    z-index: 1;

    text-align: center;
    line-height: 1.75rem;
    color: var(--white);
}

.category ul li img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;

    position: absolute;
    inset: 0;

    object-fit: cover;
    object-position: center;
}

.category.artists ul li {
    border-radius: 0.3rem;

    align-items: center;

    background-image: var(--gradient);
}

.category.artists ul li a {
    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    inset: 0;

    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

/* DETAILS */
.details {
    width: 100%;
    height: calc(100dvh - 81px);

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between
}

.details button {
    padding: 0.3rem;
    border: none;
    border-radius: 0.3rem;

    display: flex;

    position: absolute;
    right: 1.5rem;

    background: var(--gradient-dark);
    backdrop-filter: var(--blur);

    cursor: pointer;
}

.details button.show {
    top: 1em;
    z-index: 9999;
}

.details button svg {
    width: 1.5rem;
    height: 1.5rem;

    stroke: transparent;
}

.details > a {
    width: fit-content;

    background-image: var(--gradient-dark);
}

.details div {
    width: calc(100% - 2 * 1.5rem);
    max-height: 15rem;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    margin: 0 1.5rem 1.5rem 1.5rem;

    overflow: scroll;

    background-image: var(--gradient-dark);
    -webkit-backdrop-filter: var(--blur);
    backdrop-filter: var(--blur);
}

.details img:first-of-type {
    width: 100%;
    height: 100dvh;

    object-fit: cover;
    object-position: center;

    position: absolute;
    inset: 0;
    z-index: -1;
}

.details img.full-image {
    width: 100%;

    position: absolute;
    z-index: 999;
}

.details.showfullimage {
    position: relative;
}

.details.showfullimage::after {
    content: '';

    width: 100%;
    height: 100dvh;

    position: absolute;
    inset: 0;
    top: -5rem;
    z-index: 99;

    background: var(--black);

    opacity: 0.7;
}

/* SEARCH */
.search {
    padding: 0 1.5rem;

    position: relative;
}

.search input {
    width: 100%;
    padding: 1rem 3rem 1rem 0.75rem;
    border: none;
    border-radius: 0.3rem;

    background: var(--gradient);

    font-size: 1rem;
    font-family: PannoText;
    font-weight: 400;
    color: var(--white);
}

.search input::placeholder{
    font-family: PannoText;
    font-weight: 400;
    color: var(--white);
}

.search input:focus {
    outline: transparent;
}

.search button {
    width: 3rem;
    height: 3rem;
    border: none;

    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fff' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='10' cy='10' r='7' /%3E%3Cline x1='21' y1='21' x2='15' y2='15' /%3E%3C/svg%3E");
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    right: 1.5rem;

    cursor: pointer;
}

.search-loader {
    width: 100%;
    padding: 1.5rem 1.5rem;

    position: absolute;
    inset: 3.5rem 0 0 0;
    z-index: 1;

    background: var(--black);

    font-family: PannoText;
    font-weight: 400;
    font-size: 1rem;
}

.search-results {
    padding: 1.5rem 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    list-style: none;
}

.search-results .search-loader {
    width: 100%;
    height: 100%;

    background-color: red;
}

.search-results li {
    height: 13rem;

    position: relative;
}

.search-results li a {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    position: absolute;
    inset: 0;

    color: var(--white);
    text-decoration: none;
}

.search-results li h2 {
    padding: 0.75rem;
    border-radius: 0.3rem;
    margin: 0.375rem;

    font-size: 1rem;
    text-align: center;

    background: var(--gradient-dark);
    backdrop-filter: var(--blur);
}

.search-results li img {
    width: 100%;
    height: 13rem;
    border-radius: 0.3rem;

    object-fit: cover;

    position: absolute;
    inset: 0;
    z-index: -1;
}

/* UI-STACK */
.loader {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    inset: 0;
    z-index: 100;

    background: var(--black);
}

/* Inspo css for loader from https://jsfiddle.net/L8ejy3cp/ */
.loader svg {
    position: absolute;
    left: 50%;
    z-index: 102;
    transform: translateX(-50%);
}

.loader svg:first-of-type {
    stroke-width: 0.2em;
    z-index: 104;
}

.loader svg:nth-of-type(2) {
    stroke: none;
    fill: var(--white);
}

.loader span {
    width: 100%;
    height: 100%;

    position: absolute;
    /* right: 0; */
    top:0;
    z-index: 103;
    
    background: var(--black);

	animation: loader 3s ease-in-out alternate infinite;
}

@keyframes loader {
    0% {
        width: 100%;
    }
    80% {
        width: 0;
    }
    100% {
        width: 0;
    }
}

.zerostate {
    width: 100vw;
    height: 100dvh;
    padding: 1.5rem;

    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    background-color: var(--black);
}

.zerostate div {
    max-width: 28rem;
    width: 100%; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zerostate h2 {
    font-size: 2rem;
    text-align: center;
}

.zerostate p {
    width: 100%;
    text-align: center;
}

.zerostate p:first-of-type {
    margin-bottom: 1rem;
}

.zerostate p:nth-of-type(2) {
    margin-bottom: 0.5rem
}

.zerostate ul {
    padding: 0 1.5rem;
}

.zerostate button {
    width: max-content;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    margin-top: 2rem;

    background: var(--gradient);

    font-family: PannoText;
    font-weight: 400;
    font-size: 1rem;
    color: var(--white);

    cursor: pointer;
}

.error {
    height: calc(100vh - 15vh);
    padding: 0 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error svg {
    margin-bottom: 1.5rem;
}

.error h1 {
    width: 60%;
    margin-bottom: 2.125rem;

    text-align: center;
}

.error p {
    margin-bottom: 0.75rem;
}